@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.container {
  margin: 100px auto;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  padding: 100px;
  border-radius: 20px;
  top: 45%;
  left: 50%;

  text-shadow: 2px 1px 1px #333;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#time {
  font-size: 70px;
}

#focus-input {
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  border-bottom: 2px solid #ddd;
  color: white;
}
